@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2><i style="color: #6a0dad" class="bi bi-tags me-2"></i>Categorias</h2>

<small class="ms-5 text-secondary">Gerencie as categorias de produtos</small>

<div class="container mt-4 border border-light-subtle p-3 rounded-2 col-10 ms-5">
   
    <h5 style="color: #6a0dad">Cadastro de Categoria</h5>
    <form class="row g-3 d-flex flex-column mt-3">
        <div class="col-md-12">
            <label class="form-label">Nome da categoria <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="nomeCategoria" placeholder="Ex.: Picolé Simples">
        </div>
        <div class="col-md-12">
            <label class="form-label">Descrição</label>
            <textarea class="form-control" id="descricaoCategoria" rows="4" placeholder="Ex.: Picolés tradicionais sem recheio"></textarea>
        </div>
        <div class="col-md-12">
            <label class="form-label">Status <span class="text-danger">*</span></label>
            <select id="statusCategoria" class="form-select">
                <option disabled selected>Selecione...</option>
                <option value="1">Ativo</option>
                <option value="2">Pendente</option>
                <option value="3">Cancelado</option>
            </select>
        </div>
        <div class="col-12 d-flex gap-2 mt-4">
            <button type="submit" class="btn btn-light border-light-subtle col-md-6"><i class="bi bi-x m-2"></i>Cancelar</button>
            <button type="submit" class="btn btn-purple col-md-6"><i class="bi bi-floppy m-2"></i>Salvar categoria</button>
        </div>
    </form>

</div>
