@model IEnumerable<sorveteria_rai.Models.Categoria>
@{
    ViewData["Title"] = "Listagem de Categoria";
}

<div class="d-flex justify-content-end">
    <a asp-action="CadastroCategoria" class="btn btn-purple mt-3 mb-3">
        <i class="bi bi-plus"></i> Nova Categoria
    </a>
</div>

<div class="container border border-light-subtle p-4 rounded-3">
    <h5 style="color:#6a0dad;">Lista de Categorias</h5>

    <div class="d-flex flex-row justify-content-between mt-3 mb-3">

        <input style="text-indent: 5px" class="form-control w-25" type="type" name="name" value="" placeholder="⌕ Buscar categoria" />
        <select class="form-control fw-bolder" style="width:10%;">
            <option disabled selected>Status...</option>
            <option value="1">Ativo</option>
            <option value="2">Pendente</option>
            <option value="3">Cancelado</option>
        </select>
    </div>

    <table class="table border">
        <thead class="table-light">
            <tr>
                <th scope="col">Categoria</th>
                <th scope="col">Descrição</th>
                <th scope="col">Status</th>
                <th class="text-center" scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var categoria in Model)
            {
                
                <tr>
                    <td style="width: 20%;">@Html.DisplayFor(modelItem => categoria.NomeCategoria)</td>
                    <td style="width: 60%;">@Html.DisplayFor(modelItem => categoria.DescricaoCategoria)</td>
                    <td style="width: 10%;">@Html.DisplayFor(modelItem => categoria.StatusCategoria)</td>
                    <td style="width: 10%;" class="text-center">
                        <a asp-action="" asp-route-id="" class="fa-regular fa-pen-to-square m-1 text-primary"></a>
                        <a class="fa-regular fa-trash-can m-1 text-danger" data-bs-toggle="modal"
                           data-bs-target="#deleteModal" style="cursor: pointer;"></a>

                        <div class="modal fade" id="deleteModal" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Confirmação de Exclusão</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Você tem certeza que deseja excluir esta categoria?</p>
                                    </div>
                                    <form asp-action="Deletar">
                                    
                                        <input type="hidden" name="" value="" />
                                    
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-success">Confirmar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Proximo</a>
            </li>
        </ul>
    </nav>

</div>



